{% extends "base.html" %}

{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href = {% url 'home' %}>Inicio</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-block">Carrito</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="site-blocks-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td class="product-thumbnail"> 
                                    <img src="{{ item.product.image.url }}" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black"> {{ item.product.title }}</h2>
                                    <small> Tamaño: {{ item.size.name }}</small>
                                    <small> Color: {{ item.color.name }}</small>
                                </td>
                                <td>${{ item.product.get_price }}</td>
                                <td>
                                    <div class="input-group mb-3" styles="max-width: 120px;">
                                        <div class="input-group-pretend">
                                            <a href="{% url 'cart:decrease-quantity' item.id %}" class="btn btn-outline-primary">
                                                &minus;
                                            </a>
                                        </div>
                                        <input type="text" class="form-control text-center"
                                        value="{{item.quantity}}"
                                        >
                                        <div class="input-group-append">
                                            <a href="{% url 'cart:increase-quantity' item.id %}" class="btn btn-outline-primary">
                                                &plus;
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    $ {{ item.get_total_item_price }}
                                </td>
                                <td>
                                    <a href="{% url 'cart:remove-from-cart' item.id %}" class="btn btn-danger btn-sm">Quitar producto</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    No tenes productos en tu carrito.
                                    <a href="{ % url: 'cart:product-list' %}">
                                        Segui comprando.
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        
        </div>
        {% if order.items.count > 0 %}
            <div class="row">
                <div class="com-md-6">
                    <div class="row mb-5"></div>
                    <div class="col-md-12">
                        <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'cart:product-list' %}">
                            Continue shopping</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <div class="text-black h4 text-uppercase">Cart totals</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{order.get_subtotal}}</strong>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{order.get_total}}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                            {% if request.user.is_authenticated %}
                               <a href="{% url 'cart:checkout' %}" class="btn btn-warning btn-large py-3 btn-block">Checkout</a>
                               {% else %}
                               <h3>Para continuar con la compra ingresa a tu cuenta o registrate</h3>
                               <div class="btn-toolbar">
                                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm mr-3" role="button">Login</a>
                                    <a href="{% url 'account_signup' %}" class="btn btn-danger btn-sm mr-3" role="button">Registro</a>
                               </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}