{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href = {% url 'home' %}>Inicio</a>
                <span class="mx-2 mb-0">/</span>
                <a href = {% url 'cart:summary' %}>Carrito</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-block">Carrito</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
            {% if not request.user.is_authenticated%}
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="border p-4 rounded" role="alert">
                        Estas a punto de finalizar tu compra, para continuar por favor, ingresa a tu cuenta o registrate<a href="">Login</a> or <a href="">Registro</a>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-label="90" aria-valuemin="0" aria-valuemax="100">
                            90% Complete
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            <form method="POST">
                {% csrf_token %}
                <div class="row">
                   <div class="col-md-6 mb-md-0">
                       <h2 class="h3 mb-3 text-black text-center">Detalles de pago</h2>
                       <hr/>
                       <div class="p-2 p-lg-2">
                           {{ form|crispy}}
                       </div>
                       <div class="form-group">
                        <form style="display: inline" action="{% url 'cart:confirm-order' %}" method="post">
                            <button type="submit" class="btn btn-success btn-lg py-3 btn-block">
                                Procede al pago
                            </button>
                          </form>
                       </div>
                   </div>
                   <div>
                        <div class="com-md-6">
                            <div class="row mb-5"></div>
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black text-center">Tu orden</h2>
                                <hr/>
                                <div class="p-3 p-lg-5">
                                    <table class="table site-block-order-table mb-5">
                                        <thead>
                                            <th>Producto</th>                                    
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            {% for item in order.items.all %}
                                            <tr>                                      
                                                <td>
                                                    {{ item.product.title }}, {{ item.size.name }}, {{ item.color.name}}
                                                    <strong class="mx-2">x</strong> {{item.quantity}}
                                                </td>
                                                <td>
                                                    $ {{ item.get_total_item_price }}
                                                </td>                                              
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <strong class="text-black font-weight-bold">Subtotal</strong>
                                                    <td>${{order.get_subtotal}}</td>
                                                </td>
                                                <td>
                                                    <strong>Total</strong>
                                                    <td>
                                                        <strong class="text-black font-weight-bold">
                                                          ${{order.get_total}}
                                                        </strong>
                                                    </td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}