{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block scripts %}
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}"></script>
></script>

    <script>

        function sendOrderConfirmed(){
            return fetch("{% url 'cart:confirm-order %}", {
                method: "post",
                body: Json.stringify(details)
            })
        }

        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{order.get_total}}'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    sendOrderConfirmed().then(res => {
                        setTimeout(function(){  
                            window.location.replace("{{  CALLBACK_URL }}")
                        }, 3000);
                    });
                });
            }         
        }).render('#paypal-button-container');
    </script>
{% endblock scripts %}