{% extends "base.html" %}

{% block content %}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-m-">
                <h2 class="text-black">Tu perfil</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{request.user.email}}</h5>
                        <a href=" {% url 'account_logout' %} "><small class="float-right">Logout</small></a>
                    </div>
                    </hr>
                    <h5 class="card-title">Tus compras</h5>
                    <table class="site-blocks">
                        <div class="table">
                            <thead>
                                <tr>
                                    <th>N° de Referencia</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Estado de pago</th>
                                </tr>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <a href="{%url 'cart:order-detail' order.pk %}"><td># {{order.reference_number}}</td></a>
                                        <td>{{order.ordered_data}}</td>
                                        <td>$ {{ordered.get_total}}</td>
                                        <td> {% if order.ordered %} Pago {% else %} No pago</td>
                                    </tr>
                                    {% empty %}
                                    <td colspan="4">Todavía no realizaste ninguna compra, ¿Que estás esperando?</td>
                                    <a href="{% url 'cart:product-list' %}">Hace click acá y empeza a comprar</a>
                                    {% end for%}
                                </tbody>
                            </thead>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
