{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar email" %}{% endblock %}


{% block content %}
<div class="container">
    <h1>{% trans "Confirmar email" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma que <a href="mailto:{{ email }}">{{ email }}</a> es una dirección de email para el usuario: {{ user_display }}.{% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button type="submit" class="btn btn-success">{% trans 'Confirmar' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}El link para confirmar este email expiró o es inválido. Por favor <a href="{{ email_url }}">emití una nueva solicitud para la confirmación de tu email</a>.{% endblocktrans %}</p>
</div>
{% endif %}

{% endblock %}
