{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Reestablecer contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "¿Olvidaste tu contraseña? Ingresa tu email, y te enviaremos un email para reestablecer tu contraseña." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reestablecer contraseña' %}" />
    </form>

    <p>{% blocktrans %}Por favor contactanos si tuviste algún problema reestableciendo tu contraseña.{% endblocktrans %}</p>
</div>
{% endblock %}
