{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Reestablecer contraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Te envíamos un email, si no lo ves revisa tu casilla de spam. De lo contrario contactanos, si no recibiste nuestro email en unos minutos.{% endblocktrans %}</p>
{% endblock %}
