{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if token_fail %}{% trans "Token erroneo" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El link de reestablecimiento de contraseña era inválido, posiblemente ya haya sido utilizado. Por favor solicita un <a href="{{ passwd_reset_url }}">nuevo reestablecimiento de contraseña</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
</div>
    {% endif %}
{% endblock %}
