{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu email" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifica tu email" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta sección de nuestro sitio necesita que verifiques tu identidad. Para esto te solicitamos que verifiques la dirección de email que registraste {% endblocktrans %}</p>

<p>{% blocktrans %Te enviamos un mail de verificación. Seguí el link que te envíamos para terminar tu registro. Si no ves el mail de verificación en tu bandeja de entrado, reciba tu bandeja de spam. Por favor contactanos si no recibis el mail de verificación en unos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> también podés <a href="{{ email_url }}">cambiar tu dirección de email.</a>.{% endblocktrans %}</p>


{% endblock %}
